
.nav-list {
    display: flex;
    align-items: center;
    padding: 5px;
    list-style: none;
    margin: 0%;
}

.logo {
    margin-right: auto; 
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.nav-list li a {
    margin-right: 15px;
}

.search-form {
    display: inline-block;
}

.search-input-container {
    position: relative;
    margin:1rem;
}

.search-input { 
    border-radius: 20px;
    height: 30px;
}

.search-button {
    position: absolute;
    top: 0;
    right: 7px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    outline: none;
}

main{
    margin: 1rem;
}
